/* @override 
	http://localhost:81/css/player.css
	http://localhost:8080/servant@jabber.org/Filesystem/interfaces/css/player.css
*/

*{
	border: none;
	padding: 0;
	margin: 0;
}

.info{
	padding: 0;
	margin: 0;
}

div#wrapper{
	text-align: center;
	font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;
	color: white;
}

div#content {
	background-color: black;
   /* height: 325px; */
    height : 364px;
	position: relative;
}

/* @group Title */

div#title{
	background-image: url(../images/bg_title.png);
	top: 0;
	width : 100%
	position: absolute;
	margin-top: 0;
	padding-top: 18px;
	height: 53px;
	opacity: 0.8;
}

div#title p.title{
	font-weight: bold;
	font-size: 16px;
}

div#title p.interpreter{
	font-weight: bold;
	font-size: 12px;
	line-height: 28px;
}

/* @end */

/* @group Player */

div#controls {
/*	background-image: url(../images/sample_artwork.png); */
	height: 274px;
}

div#player_skim {
	background-color: rgba(0,0,0,0.6);
	position: relative;
	height: 1px;
}

/* @group Control */

div#player_control {
	background-color: rgba(0,0,0,0.6);
	height: 40px;
	padding-top: 15px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

div#player_control a.backward{
	background-image: url(../images/control_backward.png);
	overflow: hidden;
	width: 22px;
	display: block;
	height: 0;
	padding-top: 19px;
	position: absolute;
	left: 25%;
	margin-top: 2px;
}

div#player_control a.play{
	background-image: url(../images/control_play.png);
	overflow: hidden;
	width: 15px;
	display: block;
	height: 0;
	padding-top: 24px;
	position: absolute;
	right: 48%;
}

div#player_control a.stop{
	overflow: hidden;
	width: 15px;
	display: none;
	height: 0;
	padding-top: 24px;
	position: absolute;
	right: 48%;
	background: url(../images/control_stop.png) no-repeat center center;
}

div#player_control a.forward{
	background-image: url(../images/control_forward.png);
	overflow: hidden;
	width: 22px;
	display: block;
	height: 0;
	padding-top: 19px;
	position: absolute;
	right: 25%;
	margin-top: 2px;
}

div#player_control a.love{
	background-image: url(../images/control_love.png);
	overflow: hidden;
	width: 22px;
	display: block;
	height: 0;
	padding-top: 19px;
	position: absolute;
	left: 5%;	
	margin-top: 2px;
}

div#player_control a.ban{
	background-image: url(../images/control_ban.png);
	overflow: hidden;
	width: 22px;
	display: block;
	height: 0;
	padding-top: 19px;
	position: absolute;
	right: 5%;
	margin-top: 2px;
}

/* @end */

.searchbar {
	background-color: black;
	height: 64px;
	width:	254px;
	
	right: 50%;
	font-size: 18px;
	font-weight: bolder;
	color: white;
}

.audiosinks {

	opacity: 0.8;
	font-size: 18px;
	color: green;
	position: absolute;
	width: 100%;
	bottom: 0;
}
/* @end */

/* @group Playlists */

div#playlists {
	display: none;
}



/* @end */

/* @group Root_Audio */

div#root_audio {
	display: none;
}



/* @end */

/* @group Search */

div#search {
	display: none;
}



/* @end */

/* @group Tabs */

div#tabs {
	background-image: url(../images/bg_bottom.png);
	height: 50px;
}

div#tabs a.tab_bt{
	width: 50px;
	display: inline-block;
	font-size: 11px;
	text-decoration: none;
	color: white;
	padding-top: 30px;
	background-position: center 10px;
	background-repeat: no-repeat;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 1px;
	height: 19px;
}

div#tabs a.tab_bt.active{
	background-color: rgba(90,156,255,0.5);
}

div#tabs a.controls{
	background-image: url(../images/tabs_controls.png);
	
}

div#tabs a.playlists{
	background-image: url(../images/tabs_playlist.png);
}

div#tabs a.speakers{
	background-image: url(../images/tabs_audiosink.png);
}

div#tabs a.search{
	background-image: url(../images/tabs_magnifier.png);
}



/* @end */
