/* @override http://localhost:8080/geheim@jabber.org/Filesystem/html/ami.css */

/* @group custom */

div.floaty ul{
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
}
div.floaty ul li{
	display: inline-block;
	padding: 0;
}

div.floaty ul li{
	font-size: 10px;
	height: 40px;
	width: 60px;

}
/* @end */

div.floaty {
	-webkit-box-shadow: rgba(0,0,0, .5) 0px 1px 1px;
	width: 100%;
	margin: 0 0;
	padding: 5px 10px;
	background: rgba(0,0,0,0.93);
	color: #000;
	height: 60px;
}

div.current ul {
	margin-bottom: 75;
}

